#account_sidebar
	%ul
		%li
			= link_to 'Order a Transcript', place_an_order_path
		%li
			= link_to 'Pending Orders', pending_orders_path
		%li
			= link_to "Past Orders", past_orders_path
		%li
			= link_to 'Account Details', account_details_path